@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Oxygen:wght@300;400;700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* @font-face {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
} */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.container{
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  font-family: sans-serif;
}
.header{
  padding-top: 10px;
}
.input-btn{
  width: 443px;
height: 60px;
top: 613px;
border-radius: 15px;
background: #fff;
display: flex;
align-items: center;
gap: 10px;
justify-content: space-around;
margin-top: 10px;
font-family: sans-serif;
}
.input-btn button{
  width: 112px;
height: 35px;
border-radius: 9px;
background: #3858D6;
font-family: sans-serif;

}
.input-btn input {
  outline: none ;
  font-family: sans-serif;
}
.watches{
  margin-top: 73px;
}
.watches-item{
  width: 354px;
height: 239px;
background: #F6F6F6 ;
top: 73px;
left: 748px;
border-radius: 22px;
display: flex;
align-items: center;
justify-content: center;
padding: 10px;
}
.watches-item h3{
  font-family: Inter;
font-weight: 700;
font-size: 36px;
line-height: 100%;
letter-spacing: 0%;

}
.watches-item p{
  font-family: Inter;
font-weight: 500;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;
color: #8B8E99;
margin-top: 10px;
}
.category p{
  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: #3858D6;
  margin-top: 70px;
}
.category h2{
  font-family: Inter;
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
 color: #1E1D1D;  
 margin-bottom: 70px;
}
.category h3{
  font-family: Poppins;
font-weight: 600;
font-size: 24px;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
}
.category-item{
  background: #F6F6F6;
  padding: 10px;
}
.category-item img{
  display: block;
  margin: 0 auto;
  margin-top: 4px;
}
